a{
text-decoration: none;
color: black;
}

a:hover{
  text-decoration: underline;
}

.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
    transform: scale(1.05);
}





logo{
  position: absolute;
  width: 100px;
  left: 20px;
  top: 08px;
  font-family: sans-serif;
  font-style: bold;
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
  z-index: 20px;
}

n1{
  position: absolute;
width: 59px;
height: 27px;
left: 940px;
top: 5px;
z-index: 30;
font-family: sans-serif;
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 27px;

color: #000000;
}

n2{

position: absolute;
width: 215px;
height: 27px;
left: 1030px;
top: 5px;
z-index: 30;

font-family: sans-serif;
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 27px;

color: #000000;
}

n3{
  position: absolute;
width: 200px;
height: 27px;
left: 1120px;
top: 5px;
z-index: 30;

font-family: sans-serif;
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 27px;

color: #000000;
}

n4{
  position: absolute;
width: 200px;
height: 27px;
left: 1260px;
top: 6px;
z-index: 30;

font-family: sans-serif;
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 27px;

color: #000000;
}


orgdescription{
  position: absolute;
width: 514px;
height: 117px;
left: 139px;
top: 1950px;

font-family: sans-serif;
font-style: normal;
font-weight: normal;
font-size: 15px;
line-height: 20px;

color: #686161;
}

line{
  position: absolute;
width: 1440px;
height: 0px;
left: 0px;
top: 2150px;

border: 3px solid #686161;
}
